.navBar{
  background-color:#ff7744;

}

.auth{
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.category{
  background-color: #ffcc66  ;
}
ul{
  list-style-type: none;  
}
.updating-show{
  font-size: medium ;
}
.insertedItem-tall{
border: 2px solid black;
margin: 10px;
padding: 20px;
width: 300px;
height: 430px;
background-color:#aa66aa;
align-items: center;
}
.show{
  text-align: center;
  font-size: 1.5rem;
  font-weight: 200;
}

.insertedItem-short{
  border: 2px solid black;
  margin: 10px;
  padding: 20px;
  width: 300px;
  height: 350px;
  background-color:#aa66aa;
  }

button{
  margin: 1%;  
  padding: 2px;
  background-color: #ffbbaa;
  font-size: 15px;
}
button:hover{
  background-color: rgb(255, 255, 255);
}
.active-buttons-container{
  flex-wrap: wrap;
  display: flex;
  justify-content: left;
  align-items: center;
}

.item-grid{
  flex-wrap: wrap;
  height: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-component{
  padding: 10px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

input{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.nav-link{
  margin: 10%;
  border-right: solid 1px black;
  padding: 10px;
  text-decoration: none;
}
.nav-link:hover{
  margin: 10%;
  border-right: solid 1px rgb(255, 255, 255);
  padding: 10px;
  text-decoration: none;
  background-color: #ffeecc;
}

.navBar{
padding: 20px;
}

h1, h2{
  text-align: center;
}
p{
  font-size: 21px;
}
.post-text-area{
  margin: 200px;
}

a{
  text-decoration: none;
}

.icon{
  margin: 5%;
}
.activeStyle {
  background-color: #99dd66;
}
.inactiveStyle {
  background-color: #bbbbd8bd;
}

.activeStyleProgress{
  background-color:#7788ff  ;
}
.inactiveStyleProgress{
  background-color:#ffcc33  ;
}
.delete {
  padding: 5px;
  background-color: #cc2233;
}
.delete:hover {
  background-color: #da7e28;
}

